PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/trip_planner?schema=public"
JWT_SECRET="super_secret_jwt_signkey_change_me_in_production"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLIENT_URL="https://collaborative-trip.vercel.app"
